.gatsby-highlight {
  background-color: #F7FAFB;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

body {
  color: #3A4145;
}

a {
  color: #4A4A4A;
}

pre {
  margin-bottom: 0;
}